*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100%;
}
.flex{

    display: flex;

}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .munizinho{
    text-decoration: none;
}


header{
    padding: 40px 4%;
    

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menus{
    text-decoration: none;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button{
    color: #fff;
    padding: 10px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: rgb(51, 101, 207);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

 .btn-contato button:hover{
    box-shadow: 0px 0px 8px #2763b3;
    transform: scale(1.05);
}

.img-topo{
    width: 200px;
 
   
}

 .img-topo img{
    margin-left: 50px;
    width: 225px;
    height: auto;
    border-radius: 40%;
    
 
   
    
}

h1{
    color: #fff;
}

section.topo-do-site{
    padding: 40px 6%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h2{
    color: #fff;
    font-size: 2.625rem;
    line-height: 40px;
   
}

.topo-do-site .txt-topo-site h2 span{
    color: #2763b3;
    font-size: 4.6875rem;
   
}


.topo-do-site{
    width: 90%;
}

 p{
    color: #fff;
    margin: 40px 0px;
    
    
}

.topo-do-site .img-topo img{
    position: relative;
    animation: flutuando 2s ease-in-out infinite alternate;
    
    
}


a i{
    color:#fff;
    cursor: pointer;
    
    
   
}



a i:hover{
    color: #2763b3;
    transform: scale(1.05);
    transition: .2s;
}

section .contatos .linkedin{
    font-size: 30px;
}

section .contatos .git{
    font-size: 30px;
}

.contatos{
    display: flex;
    flex-direction: row;
    gap: 30px;
   
}

section .tecnologias-usadas .flex{
    justify-content: center;
    align-items: center;
}

.tecnologiass .h2{
    color: #fff;
}


.tecnical{
    color: #fff;
  
  
    
}




@keyframes flutuando{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
h2.titulos{
    color: #fff;
    font-size: 2.375rem;
    text-align: center;
}

h2.titulos span{
    color: #2763b3;
}

.especialidades .especialidades-box{
    color: #ffffff78;
    border-radius: 20px;
    padding: 40px;
    
    margin-top: 45px;
    transition: .2s;
    cursor: pointer;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #7d7d7d;
}

.especialidades .especialidades-box i{
    color: #2763b3;
    font-size: 4.375rem;
}

.especialidades .especialidades-box h3{
    font-size: 1.75rem;
    margin: 15px 0;
}

h3.categorias{
    color: #fff;
}

.especialidades .especialidades-box p{
    color: #ffffff78;
}


  

 

 